{%extends "base.html"%}

{% block content %}

<form method="POST" action="{{ url_for('user_edit')}}">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label" name="username">Username</label>
        <input type="text" name="username_edit" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input name="password_edit" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">User Type</label>
        <input name="user_type_edit" type="text" class="form-control" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-secondary" name="edit" value="edit">Submit</button>
</form>

<br><br>

{% endblock %}